@import '../../../scss/';

.table-container {
  padding-top: 10px;

  @media screen and (min-width: 501px) {
    padding-top: 0px;
    padding-left: 10px;
  }

  table {
    @media screen and (max-width: 500px) {
      width: 100%;
    }
    th,
    td {
      border: 1px solid $grey-border;
      color: $secondary-color;
      font-size: 0.9rem;
      padding: 7px 10px;
    }

    th {
      background: $very-light-grey-bg;
    }
  }
}
